.card {
    margin-top: 5%;
    padding: 5px;
    background-color: white;
    width: 65%;
    max-width: 95%;
    box-shadow: 15px 15px 15px 2px #525252;
    max-height: 200px;
}

.card .cardName {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-right: 2px;
    vertical-align: top;
    font-family: Zelda_botw;
    max-width: 100%;
    font-size: 30px;
    font-weight: 100;
    overflow-wrap: inherit;
    word-wrap: inherit
}

.card .cardRole {
    margin: auto;
    margin-top: 0px;
    vertical-align: top;
    opacity: 75%;
    font-family: Arial;
    font-size: 20px;
    font-weight: 200;
    overflow-wrap: inherit;
    word-wrap: inherit;
}

.card .about {
    margin: 5px;
    margin-left: 0px;
    padding:0px;
    margin-top: 10px;
    text-align: left;
    font-family: Arial;
    font-weight: 300;
    font-size: 12pt;
    max-height: 50px;
    overflow-y: scroll;
    white-space: normal;
    overflow-wrap: inherit;
    word-wrap: inherit;
}

.card .about::-webkit-scrollbar {
    display: none;
}

.card .about::-webkit-scrollbar-thumb {
    border-radius: 50%;
    max-height: 5px;
    max-width: 5px;
    background-color: black;
    color: black;
}

.card .cardImg {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.card a {
    text-decoration: none;
    border: none;
}
/*
.card a:hover {
    border: filter(invert);
    border: solid;
    border-width: 5px;
    animation-name: loopSelector;
    animation-duration: 2.13s;
    animation-iteration-count: infinite;
}
*/
.card .text {
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
    margin-right: 35%;
    vertical-align: top;
    padding: 0px;
    max-height: 150px;
    position: absolute;
    word-wrap: break-word;
}

.left {
    margin: auto;
    margin-top: 5%;
    margin-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right {
    margin: auto;
    margin-top: 5%;
    margin-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right .text {
    margin-right: auto;
}
