body, html {
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}

@keyframes loopSelector {
    0% {border-image: url(assets/CornerBorder.png) 49 repeat;}
    50% {border-image: url(assets/CornerBorder_Blur.png) 78 repeat;}
    100% {border-image: url(assets/CornerBorder.png) 49 repeat;}
}

@font-face {
    font-family: Zelda_botw;
    src: url(assets/HyliaSerifBeta-Regular.otf);
}

@font-face {
    font-family: KommonGrotesque_Italic;
    src: url(assets/Kommon\ Grotesk\ Regular\ Italic.otf);
}

.hidden {
    visibility: hidden;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
}

.background {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    padding: 5px;
    margin: 0px;
    padding-bottom: 20px;
}

.page {
    margin: -5px;
    padding: 0px;
    overflow: visible;
}

#home {
    background-image: url(assets/PlateauStalkerStump-Ruin_blur.png);
}

#about {
    background-image: url(assets/PlateauEntryDecayed_Blur.png);
}

#download {
    background-image: url(assets/GuardianChaseHorse_Blur.png);
}

#team {
    background-image: url(assets/ForgottenTemple_Blur.png);
}

#new {
    background-image: url(assets/FortHatenoRuins_Blur.png);
}

#thanks {
    background-image: url(assets/ForgottenTempleEntrance_Blur.png);
}

#TeamContainer {
    height: auto;
    margin-bottom: 10%;
}

#ErrorPage {
    background-image: url(assets/SheikahFlowPattern_Grey.png);
    background-repeat: repeat;
    background-size: 500px;
}

#ErrorPage .title {
    color: white;
    font-weight: 200;
}

#ErrorPage a {
    display: block;
    color: white;
    font-size: 28px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    max-width: 45%;
}

.lineBreak {
    margin: 0px;
    height: 1px;
    width: 95%;
    opacity: 70%;
    border: none;
    background-color: rgb(53, 53, 53);
    text-align: left;
}

.navLink {
    max-height: 200px;
    height: inherit;
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
    font-size: inherit;
    padding: 0px;
    margin: 0px;
}

.navImg {
    max-height: inherit;
    height: inherit;
    padding: 0px;
    margin: 0px;
}

.navItem {
    display: inline;
    height: 40px;
    margin: 5px;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 30px;
    padding: 0px;
    font-size: 40px;
    font-family: KommonGrotesque_Italic;
    text-align: center;
}

.navItem:hover {
    margin: auto;
    margin-bottom: inherit;
    margin-top: inherit;
    margin-right: 25px;
    padding: 0px;
    border: solid;
    border-width: 5px;
    animation-name: loopSelector;
    animation-duration: 2.13s;
    animation-iteration-count: infinite;
}

#NavBar {
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  border: none;
  box-shadow: 0px 4px 10px;
  max-height: 5.95703125vw;
  width: 100%;
  position: fixed;
  top: 0;
  background-image: url(assets/SheikahFlowPattern_Brown.png);
  z-index: 1;
}

#navBarList {
    list-style-type: none;
    height: 55px;
}

#mobileNavBar {
  display: none;
  float: right;
  background-image: url(assets/Hamburger.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 5vw;
  height: 5vw;
  margin: 5px;
  margin-right: 1vw;
  z-index: 3;
  filter: invert(100%);
}

#mobileNavBarList {
  display: none;
  position: relative;
  z-index: 4;
  background-image: inherit;
  background-position: inherit;
  border-bottom-left-radius: 5%;
  box-shadow: 0px 4px 10px;
  padding: 0px;
  max-width: 20vw;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 5.95703125vw;
  width: 15%;
}

#mobileNavBar:hover {
  
}

#mobileNavBarList .navItem {
  display: block;
  margin: 2px;
  width: auto;
  font-size: 2vw;
}

@media screen and (max-width: 1024px){
  .navItem:hover {
      margin: auto;
      margin-bottom: inherit;
      margin-top: inherit;
      margin-right: inherit;
      padding: 0px;
      border: none;
      border-width: inherit;
      animation-name: inherit;
      animation-duration: inherit;
      animation-iteration-count: inherit;
  }
  #navBarList {
    display: none;
  }
  #mobileNavBar {
    display: block;
  }
}

.title {
    margin: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 100px;
    font-family: Zelda_botw;
    font-weight: lighter;
}

.subTitle {
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial;
    font-size: 75px;
}

.Description {
    position: relative;
    background-color: white;
    width: 85%;
    height: auto;
    text-align: left;
    margin: 5px;
    margin-left: -5px;
    margin-bottom: 10px;
    padding: 1%;
    padding-left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 15px 15px 15px 2px #525252;
    z-index: -2;
}

.Description .title {
    margin-top: inherit;
}

.Description p {
    text-indent: 3%;
    margin: 2%;
    font-family: Arial;
    font-size: 1.5vw;
    line-height: 2vw;
}

.aboutImg {
    height: 30vw;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*.aboutImg:hover {
    cursor: pointer;
}*/

.aboutImg_Large {
    display: none;
    margin: auto;
}

.abtimg_Container {
    overflow: hidden;
    height: 2px;
}

.aboutList {
    font-family: Arial;
    font-size: 1.5vw;
}

.aboutList li {
    font-family: inherit;
    font-size: inherit;
}

.memberCard {
    margin-top: 5%;
    padding: 5px;
    background-color: white;
    width: 65%;
    max-width: 95%;
    box-shadow: 15px 15px 15px 2px #525252;
    max-height: 200px;
}

.memberCard .memberName {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-right: 2px;
    vertical-align: top;
    font-family: Zelda_botw;
    max-width: 100%;
    font-size: 30px;
    font-weight: 100;
    overflow-wrap: inherit;
    word-wrap: inherit
}

.memberCard .memberRole {
    margin: auto;
    margin-top: 0px;
    vertical-align: top;
    opacity: 75%;
    font-family: Arial;
    font-size: 20px;
    font-weight: 200;
    overflow-wrap: inherit;
    word-wrap: inherit;
}

.memberCard .about {
    margin: 5px;
    margin-left: 0px;
    padding:0px;
    margin-top: 10px;
    text-align: left;
    font-family: Arial;
    font-weight: 300;
    font-size: 12pt;
    max-height: 50px;
    overflow-y: scroll;
    white-space: normal;
    overflow-wrap: inherit;
    word-wrap: inherit;
}

.memberCard .about::-webkit-scrollbar {
    display: none;
}

.memberCard .about::-webkit-scrollbar-thumb {
    border-radius: 50%;
    max-height: 5px;
    max-width: 5px;
    background-color: black;
    color: black;
}

.memberCard .memberImg {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.memberCard a {
    text-decoration: none;
    border: none;
}
/*
.memberCard a:hover {
    border: filter(invert);
    border: solid;
    border-width: 5px;
    animation-name: loopSelector;
    animation-duration: 2.13s;
    animation-iteration-count: infinite;
}
*/
.memberCard .text {
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
    margin-right: 35%;
    vertical-align: top;
    padding: 0px;
    max-height: 150px;
    position: absolute;
    word-wrap: break-word;
}

.left {
    margin: auto;
    margin-top: 5%;
    margin-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right {
    margin: auto;
    margin-top: 5%;
    margin-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right .text {
    margin-right: auto;
}

.DownloadButton {
    display: block;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 35%;
    max-width: 45%;
    transition-duration: 0.25s;
}

.DownloadButton:hover {
    cursor: pointer;
    filter: brightness(75%);

}

.DownloadButton:hover > .buttonIco {
    cursor: pointer;
    filter: brightness((100/.75));

}

.DownloadButton:focus {
    outline: none;
}

.buttonTxt {
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial;
    font-size: 20px;
    display: block;
}

.buttonIco {
    margin-right: auto;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 4%;
    height: 50px;
    transition-duration: 0.25s;
    display: inline-block;
    float: left;
}

.downloadCounter {
    height: 50px;
    display: inline-block;
    font-family: Arial;
    font-size: 45px;
    margin: auto;
    text-align: center;
    vertical-align: top;
    margin: auto;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 4%;
    float: right;
}

.NX {
    background-color: red;
}

.WiiU{
    background-color: white;
}

.centeredContainer {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: auto;
    max-width: 95%;
    border-radius: 10px;
    background-color: #CECAC4;
    box-shadow: 15px 15px 15px 2px #525252;
    display: block;
}

#trailer {
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
    width: 47.61904761904761vw;
    height: 20.238095238095237vw;

}

.trailerContainer {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    max-width: 85%;
    width: fit-content;
    display: flex;
}