@font-face {
    font-family: Zelda_nes;
    src: url(./assets/the-legend-of-zelda-nes.ttf);
}

.title {
    font-family: Zelda_nes;
    color: white;
}

#hidden {
    background-image: url(./assets/DangerousToGoAlone_Room.png);
}