#newsContainer {
    padding: 2px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
}

.date {
    font-size: 16px;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
    opacity: 0.75;
    letter-spacing: 1px;
}

.articleTitle {
    margin: 5px;
    font-family: Zelda_botw;
    font-weight: 100;
    font-size: 30px;
    text-align: left;
}

.author {
    margin: 2px;
    text-align: left;
    font-size: 18px;
    font-family: KommonGrotesque_Italic;
    opacity: 0.85;
}

.article {
    font-family: arial;
    font-size: 16px;
}

#pastNewsContainer {
    max-height: 25%;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

#more {
    font-family: Tahoma;
    font-size: 24px;
    margin-left: 6.75%;
}

.moreNews_Title {
    display: inline;
    font-size: 25px;
    font-family: KommonGrotesque_Italic;
    text-align: left;
    margin-left: 5px;
}

.moreNews_Link {
    text-decoration: none;
    color: black;
}

.moreNews_Link .centeredContainer {
    margin-bottom: 50px;
}

.moreNews_Date {
    display: inline;
    font-size: 20px;
    font-family: KommonGrotesque_Italic;
    text-align: right;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    opacity: .65;
    float: right;
    vertical-align: text-bottom;
}

.moreNews_Link:hover .centeredContainer {
    box-shadow: 15px 15px 15px 2px #1b1b1b;
}